$primary: #240b36;
$secondary: #a4031f;
$yellow: #f2dc5d;
$orange: #f2a359;

// Required
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.wrapper {
    border-top: 3px solid $gray-400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-page,
.search-results-page {
    background-color: $gray-100;
}

.page-title {
    background-color: $gray-300;

    p {
        color: $gray-800;
    }
}

.movie-card-img {
    width: auto;
    height: 200px;
}
